Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/custom_ssh_name
  IdentitiesOnly yes

Host server
  HostName example.ssh.com
  Port 1234
  IdentityFile ~/.ssh/custom_ssh_name
  IdentitiesOnly yes
  User joe_doe
