* {
  border: none;
  border-radius: 0;
  font-family: "Ubuntu Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #444c5c;
  border-bottom: 2px solid #616d84;
  color: #fff;
}

#window {
  font-weight: bold;
  font-family: "Ubuntu";
}

/* #workspaces {
  padding: 0 5px;
}
*/

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-top: 2px solid transparent;
}

#workspaces button.focused {
  color: #e7472e;
  border-top: 2px solid #e7472e;
  padding: 0 5px;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
}

#clock {
  font-weight: bold;
}

#clock, #temperature, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
  padding: 0 5px;
}

#cpu {}

#memory {}

#network {}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {}

#pulseaudio.muted {}

#custom-spotify {
  color: rgb(102, 220, 105);
}

#tray {
  margin-right: 15px;
}
